@use 'sass:color';
@use 'sass:map';
@use '../abstracts/variables' as *;

input,
select,
textarea {
    background-color: $white;
    border: 1px solid #eaeaea;
    color: $default-color;
    font-size: $default-size;
    padding: $padding * 0.5;
    width: 100%;
}

input[type='text'],
textarea {
    -webkit-user-select: text;
    user-select: text;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline-block;
    padding: 0;
    width: auto;
}

.form-group {
    margin-bottom: 1rem;
    .error {
        &:not(.message) {
            background-color: color.adjust($red, $lightness: 35%);
            color: $red;
            padding: 10px;
        }
        &.message {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .field {
        display: flex;
        label {
            flex-basis: 20%;
            font-weight: 600;
        }
        > *:nth-child(2) {
            flex: 0 1 80%;
            max-width: 80%;
        }
        select {
            height: 285px;
            width: 285px;
        }
    }
    .containers {
        display: flex;
        gap: 1rem;
        > div {
            align-items: center;
            display: flex;
            flex-direction: column;
            label {
                display: block;
                flex-basis: 50px;
                height: 50px;
                margin-bottom: 1rem;
                width: 50px;
                @each $container, $map in $containers {
                    &.#{$container} {
                        background-color: map.get($map, color);
                    }
                }
            }
            input {
                text-align: center;
                width: 75px;
            }
        }
    }
}
